<h1>Articles Search</h1>

<%= form_for search_path, method: :get do |f| %>
  <p>
    <%= f.label "Search for" %>
    <%= text_field_tag :q, params[:q] %>
    
    <%= submit_tag "Go", name: nil %>
  </p>
<% end %>

<ul>
  <% @urls.each do |url| %>
    <li>
      <h3>
        <%= link_to (url.short_url + " : " + url.long_url), controller: "urls", action: "new"%>
      </h3>
    </li>
  <% end %>
</ul>